h1 {
  text-align: center;
  font-weight: bolder;
  font_size: 56px;
}

h2 {
  text-decoration: underline;
}
body {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #498467
}

.bar {
  display: inline-block;
  text-align: center;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #b2d3a8
}

.bars {
  display: inline-block;
  text-align: center;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #ede5a6
}
  

nav {
  text-align: center;
}

.tiles {
  width: 25%;
  float: right;
  padding-left: 30px;
  padding-top: 30px;
}

.sets {
  width: 25%;
  float: right;
  padding-left: 30px;
  padding-top: 30px;
}

.winninghand {
  display: block;
  width: 80%;
  margin: auto
}

.tablesetup {
  width: 100%;
}

.setup {
  margin: auto;
  display: block;
}

.mahjongsolitaire {
  width: 50%;
  float: right;
  margin-bottom: 30px;
  padding-left: 30px;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none;
} 
a:active { 
  text-decoration: none; 
}
