h1 {
  text-align: center;
  font-weight: bolder;
  font_size: 56px;
}

h2 {
  text-decoration: underline;
}
body {
  margin-left: 30px;
  margin-right: 30px;
}

.bars {
  display: inline-block;
}

.tiles {
  width: 25%;
  float: right;
  padding-left: 30px;
  padding-top: 30px;
}

.sets {
  width: 25%;
  float: right;
  padding-left: 30px;
  padding-top: 30px;
}

.winninghand {
  display: block;
  width: 80%;
  margin: auto
}

.tablesetup {
  width: 100%;
}

.setup {
  margin: auto;
  display: block;
}

.mahjongsolitaire {
  width: 50%;
  float: right;
  margin-bottom: 30px;
  padding-left: 30px;
}
body {
  border-block-color: green;
  border-radius: 25px;
}
